.navbar {
  margin-bottom: 50px;
  border-radius: 0;
}

#banner{
  color: white;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  padding-top: -50px;
  padding-bottom: 50px;
}

#ss{
  font-family: 'Courier New', Courier, monospace;
}

body{
  background-color: #353535;
}

/*fix this to fit the navbar */
#logo{
  max-height: 10%;
  max-width: 10%;
}
 
.jumbotron {
  margin-bottom: 0;
  background-image: url("/images/tartan.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: white;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: black;
  padding: 25px;
  color: white;
}